/*general*/
*{
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}
html h1{
   font-family: Shrikhand,"cursive";
}
html a{
   text-decoration: none;
   color: black;
}
html h3{
font-size: 18px;
margin: 5px;
}

body{
   font-family: Roboto, sans-serif;
}

/*loading spinner*/
.loader{
   display: flex;
   justify-content: center;
   align-items: center;
   background-color:  #f2f2f2;
   position: fixed;
   font-size: 5rem;
   inset: 0;
   width: 100%;
   height: 95%;
   /* opacity: 1; */
   animation: loader 3s forwards;
 }
 @keyframes loader {
   0% {
     opacity: 1;
   }
   99% {
     opacity: 1;
   }
   100% {
     opacity: 0;
   }
 }
 @keyframes show_main {
   0% {
     opacity: 0;
   }
   100% {
     opacity: 1;
   }
 }
 main {
   opacity: 0;
   animation: show_main 3s forwards 3s;
 }
  .word {
   opacity: 0;
   font-family: "Shrikhand", sans-serif;
 }
 .word:nth-of-type(1) {
   animation: go 2s ease forwards;
   color: #c1a5d3;
 }
 .word:nth-of-type(2) {
   animation: go 2s ease forwards;
   animation-delay: 1s;
   color: #b490c3;
 }
 .word:nth-of-type(3) {
   animation: go 2s ease forwards;
   animation-delay: 2s;
   color: #b080db;
 }
 @keyframes go {
   from {
     opacity: 0;
   }
   to {
     opacity: 1;
     display: none;
   }
 }
 .duree {
   position: absolute;
   width: 80px;
   height: 80px;
 }
 .duree:after {
   content: ".";
   font-size: 1.2em;
   display: block;
   width: 70px;
   height: 70px;
   margin: 8px;
   border-radius: 50%;
   border: 6px solid white;
   border-color: white transparent white transparent;
   animation: duree 1200ms 800ms linear forwards;
 }
 @keyframes duree {
   from {
     transform: rotate(0deg);
     opacity: 1;
   }
   to {
     transform: rotate(360deg);
     opacity: 0;
   }
 }
 
/*logo du header*/
.header_logo{
   font-family: Shrikhand,"cursive";
   margin: 0;
   text-align: center;
   width: 200px;
   display: block;
   margin: auto;
   padding: 15px;
}
/*choix de la ville et icon de navigation*/
.localisation{
   display: flex;
   justify-content: center;
   position: relative;
   background-color: #d8dad9;
   padding: 1.25rem 1rem;
}
i.fa-map-marker-alt.fas.local__icon {
   margin-right: 10px;
}
.texte_localisation{
   font-weight: 700;
}
/*presentation*/
.section_presentation{
   padding: 1.5rem;
   text-align: center;
   background-color: #f5f4f4;
   margin-bottom: 40px;
}
.titre_presentation{
   margin: 0;
}
.sous_titre_presentation{
   font-weight: 295;
   margin: 1.5rem 0;
}
/*bouton principal*/
.btn_presentation{
   border: 0;
   padding: 0.75rem 1.5rem;
   font-weight: 500;
   font-size: 1.1rem;
   border-radius: 100px;
   color: #fff;
   background-color: #686868;
   background-image: linear-gradient(0deg,rgba(147,86,220,.9),rgba(255,121,218,.9));
   cursor: pointer;
   transition-duration: .50s;
   box-shadow: 0.25rem 0.25rem 10px rgb(0 0 0 / 25%);
}
.btn_presentation:hover{
   background-color: #acabab;
   box-shadow: 8px 8px 2px #acabab;
   opacity: 0.8;
}
/*fonctionnement*/
.fonctionnement{
   padding: 20px 30px;
   margin-bottom: 30px;
}
a.type_operation {
   box-shadow: 10px 10px 10px rgb(5 5 5 / 25%);
   margin-bottom: 15px;
}
/*operations*/
.operations{
   display: flex;
   flex-direction: column;
 }
.type_operation{
   display: flex;
   align-items: center;
   border-radius: 20px;
   background-color: #f6f6f6;
   height: 70px;
   text-decoration: none;
}
.type_operation:hover{
   background-color: rgba(147, 86, 220, 0.2);
}
.numéro_operation{
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 50%;
   background: #9356dc;
   color: #fff;
   width: 25px;
   height: 25px;
   margin-left: -15px;
}
.icon_defaut{
   padding: 10px;
   font-size: 15px;
}
span.operation_content {
   padding: 15px;
}
/*presentation des restaurants*/
.Restaurants{
   background-color: #f5f4f4;
   padding: 20px;
}
.bloc_restaurants{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%
}
/*presentation des menus*/
.cartes_menu{
   box-shadow: 0px 5px 15px 2px #d6d6d6;
   border-radius: 15px;
   background-color: #ffffff;
   width: 100%;
   max-width: 550px;
   margin: 10px;
}
.carte_img{
    position: relative;
    height: 175px;
    border-radius: 15px 15px 0 0;
    background-position: center;
    background-size: cover;
    width: auto;
}
.carte_img img{
   width: 100%;
   height: 188px;
   object-fit: cover;
   border-radius: 15px 15px 0 0
}
.carte img span{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 80px;
    height: 35px;
    background-color: #99e2d0;
    color: #2c9c81;
    font-weight: bold
}
.bloc_texte{
   min-width: 160px;
   position: relative;
}
.carte_texte{
    align-items: flex-start;
    padding: 10px;
    flex-direction: column;
}
.carte_texte p{
   font-size: 18px;
   margin: 4px;
}
.bloc_absolute{
   position:absolute;
   top: 20px;
   right: 20px;
}
/*bouton J'AIME*/
i.far.fa-heart{
   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 27px;
   width: 27px;
   cursor: pointer;
   transition: all 1s;
   z-index: 0;
}
.far .fa-solid{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 27px;
    width: 27px;
    height: 0px;
    cursor: pointer;
    background-image: linear-gradient(0deg, #9356DC, #FF79DA);
    color: transparent;
    transition: all 0.5s;
    z-index: 1;
    -webkit-background-clip: text;
    background-clip: text;
}
.far:hover{
   background: linear-gradient(0deg, #9356DC, #FF79DA);
   color: transparent;
   -webkit-background-clip: text;
   background-clip: text;
 }
 .far:hover .fa-solid{
   width: 27px;
   height: 27px;
 }
.nouveau{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 80px;
    height: 35px;
    background-color: #99e2d0;
    color: #2c9c81;
    font-weight: bold;
}
/*footer*/
.footer{
   background-color: #353535;
   color: white;
   padding: 10px;
   margin-top: 50px;
}
footer{
   margin-bottom: 0;
}
.footer a{
   text-decoration: none;
   color: #ffffff;
}
footer h4{
   margin-bottom: 20px;
}
footer p{
   margin: 5px;
}

/*verion desktop*/
@media screen and (min-width: 992px){
 .operations{
   flex-direction: row;
   justify-content: space-evenly;
 }
 .cartes_menu{
   width: 40%;
 } 
}